<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>日记正文实例</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/minty/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="content">
        <!-- 日记正文 -->
        <div id="dairy-post-info" >
            <!-- v-for指令 渲染列表 数组元素两个，生成两个列表 -->
            <div v-for="item in dairy" class="jumbotron">
                <h2 name="post-title">
                    <span name="date" class="display-3 text-primary">{{item.date}}</span>
                    <span name="title">{{item.title}}</span>
                </h2>
                <p class="lead">{{item.ins}}</p>
                <hr class="my-4">
                <p>{{item.content}}</p>
            </div>
        </div>

        <button class="btn btn-primary" v-on:click="inputClass='fade modal-dialog active show'">添加日记</button>
        <div v-bind:class="inputClass" role="document">
            <!-- 模态框 -->
            <div class="modal-content">
                <div class="modal-body">
                    <!-- 遍历键值 item中有5个元素，渲染5次 -->
                    <div class="form-group row" v-for="(value,key) in item">
                        <label class="col-sm-2 col-form-label">{{key}}</label>
                        <div class="col-sm-10">
                            <!-- 输入框内动态绑定值key -->
                            <input type="text" class="form-control is-valid" v-model:value="item[key]">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var contentApp = new Vue({
            el: "#content",
            data:{
                inputClass:"fade modal-dialog",
                item:{
                    img:"填入图片地址。若是添加“日记”，可忽略不填",
                    date:"填入日期",
                    title:"标题",
                    ins:"题记",
                    content:"内容"
                },
                dairy:[
                    {
                        date:"2018/7/30",
                        title:"学习Vue.js的第一天",
                        ins:"Inscription",
                        content:"很容易上手的Vue.js"
                    },
                    {
                        date:"2018/07/31",
                        title:"学习Vue.js的第二天",
                        ins:"lalala",
                        content:"好好学习 天天向上"
                    }
                    
                ],
            }
        })
    </script>
</body>
</html>